<h1>Alle Produkte <br>
  <small>
  <%= pluralize(@products.count, "Produkte")  %>
  </small>
</h1>


  <table class="table  table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Prise</th>
      <th>Desciption</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td width = '30%'><%= product.name %></td>
        <td><a class="menue">
              <%= image_tag product.image_url(:thumb) if product.image? %>
              <span><%= image_tag product.image_url(:normal)  if product.image? %></span></a>
        <td><%= product.prise %></td>
        <td><%= product.desciption %></td>
        <td> <%= product.user.username %> </td>
        <td><%= link_to 'Zeigen', product, class: "btn btn-success btn-sm" %></td>
        <td><%= link_to 'Ändern', edit_product_path(product),class: "btn btn-warning  btn-sm" %>

        </td>
        <td><%= link_to 'Löschen', product, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Möchten Sie wirklich ihr Produkt löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


